/*===============================
*	Styling the dropdown:
================================*/
html {
		margin:0;
		padding:0;
		color:#000;
		background:#ddd;
	}
		
#wrap {
		width:100%;
		margin:0 auto;
		background:#99c;
}

#title {
	width:33%;
	float:left;
    color: #999999;
    text-align: center;
	font-size: large;
	height:3vh;
}

#left {
	width: 33%;
	float: left;
	height:3vh;
}

#admin {
	width: 33%;
	float:left;
    color: #999999;
	text-align: right;
	height:3vh;
}

#header {
		background:#ddd;
		height:3vh;
		font-family: Arial, Helvetica, sans-serif;
		font-size: small;
		#text-align: right;
}
	
#inner_header {
    width: 10%;
    margin: 0 auto;
	text-align: center;
	background:#ABCDEF;
	height:100%;
}

#admin {
	text-align:right;
	color: #aaaaaa;
}

	#nav {
		background:#c99;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
		float:left;
		width:20%;
		padding:0px;
		background:#EEEEEE;
		text-align: left;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height:92vh;
		font-family: Arial, Helvetica, sans-serif;
		font-size: small;
	}
	h2 {
		margin:0 0 1em;
	}
	#sidebar {
		float:right;
		width:80%;
		height:92vh;
		padding:0px;
		background:#FEFEFE;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		font-family: Arial, Helvetica, sans-serif;
		font-size: small;
	}
	
		#main::-webkit-scrollbar { width: 8px; height: 8px }
		#main::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
		#main::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
		#sidebar::-webkit-scrollbar { width: 8px; }
		#sidebar::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
		#sidebar::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
	
	#footer {
		clear:both;
		background:#ddd;
		height:2vh;
		font-family: Arial, Helvetica, sans-serif;
	}
	#footer p {
		margin:0;
    }
	
.row{
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 2px 0;
	background:#EEEEEE;
}

.row_even{
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 2px 0;
	background:#F1F1F1F1;
}

.row_uneven{
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 2px 0;
	background:#F9F9F9;
}

.row.ongoing{
    color:#C30;
}

.field-element {
  float: left;
  width: 200px;
}

.button {
  float: right;
  margin-top: -38px;
}

		.tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0; width: 250px;
		}
		.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}
		.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		.classic { padding: 0.8em 1em; }
		.custom { padding: 0.5em 0.8em 0.8em 2em; }
		* html a:hover { background: transparent; }
		.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
		.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
		.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
